@import url('https://fonts.googleapis.com/css?family=Merriweather');

* {
	margin: 0;
	padding: 0;
	border: none;
	text-decoration: none;
	list-style: none;
	font-family: Merriweather, sans-serif;
	font-size: 100%;
	color: #222;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body, html {
	background: #111;
	width: 100vw;
	max-width: 100%;
	height: auto;
}

header {
	position: relative;
	width: 100%;
	max-width: 100vw;
	height: 100vh;
	text-align: center;
	padding: 5%;
	padding-top: 40vh;
	background: yellow;
}

header h1 {
	font-size: 300%;
	font-size: 10vh;
	font-size: 10vmin;
}

header p {
	font-size: 150%;
	font-size: 7vh;
	font-size: 7vmin;
}

nav {
	background: yellow;
	height: 55px;
	z-index: 999;
}

nav ul {
	z-index: 999;
}

nav ul li {
	display: inline-block;
	width: 20%;
}

nav ul li a {
	position: relative;
	display: inline-block;
	width: 100%;
	padding: 15px;
	text-align: center;
}

nav ul li a:hover {
	color: orange;
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}

.fixed-nav {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	-webkit-transition: all 0.8s ease-in-out;
	-moz-transition: all 0.8s ease-in-out;
	-o-transition: all 0.8s ease-in-out;
	transition: all 0.8s ease-in-out;
}

.slide-up-nav {
	position: fixed;
	top: -50px;
	width: 100%;
	-webkit-transition: all 0.8s ease-in-out;
	-moz-transition: all 0.8s ease-in-out;
	-o-transition: all 0.8s ease-in-out;
	transition: all 0.8s ease-in-out;
}

footer {
	padding: 10%;
	background: yellow;
}

footer h1 {
	font-size: 150%;
	font-size: 7vh;
	font-size: 7vmin;
}

footer p {
	font-size: 150%;
	font-size: 5vh;
	font-size: 5vmin;
}

div.container {
	padding: 10%;
}

div.container h1 {
	font-size: 150%;
	font-size: 7vh;
	font-size: 7vmin;
	padding-top: 5%;
	padding-bottom: 8%;
}

.filler-space {
	height: 400vh;
	width: 100%;
	background: #9b59b6;
}